# IDEs and editors
.cursor/
.vscode/
.idea/
.claude/

# OS files
Thumbs.db
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node modules
node_modules/

# Next.js build output
.next/
out/
tsconfig.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Vercel
.vercel
